<!-- Header -->
<div class="flex">
  <h3 class="text-xl font-bold text-nowrap">Extract frames</h3>
  <ul class="steps text-sm">
    <li class="step step-primary">Select a session</li>
    <li class="step" [class.step-primary]="step() === 'settings'">
      Select extraction strategy
    </li>
  </ul>
</div>
<div class="divider"></div>

<!-- Body -->
@if (step() === "session") {
  <div>
    <sub class="text-sm block">Select a session to extract frames from</sub>

    <div class="p-4 flex items-center">
      <app-sessions-panel
        class="flex-1 min-w-0 max-h-70 overflow-clip"
        [showModelAvailableMarkers]="false"
        [selectedSessionKey]="session()?.key"
        (selectedSessionChange)="handleSelectedSessionChange($event)"
      ></app-sessions-panel>
      <div class="divider divider-horizontal">OR</div>
      <div class="flex-1 min-w-0 flex justify-center">
        <button class="btn tooltip" data-tip="Not yet implemented">
          Upload a new session
        </button>
      </div>
    </div>
  </div>
} @else {
  <div>
    <sub class="text-sm">Choose which frames to extract.</sub>
    <div class="p-4">
      <div class="flex gap-1">
        <input
          [disabled]="isProcessing()"
          type="radio"
          name="extraction-strategy"
          id="radio-auto"
          value="auto"
          class="radio radio-sm"
          checked="checked"
        />
        <label for="radio-auto" class="text-sm">Auto</label>
      </div>
    </div>
    <div role="alert" class="alert text-sm">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="stroke-info h-6 w-6 shrink-0"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
      <span>
        Frames will be selected automatically across a diversity of frames,
        using motion energy and PCA.</span
      >
    </div>
  </div>

  <div class="mt-4">
    <p class="text-sm">
      Choose how many frames to extract. 20 is a good start, but extract as many
      or as little as you'd like.
    </p>
    <div class="p-4">
      <input
        [disabled]="isProcessing()"
        type="number"
        [(ngModel)]="nFrames"
        class="input validator"
        required
        placeholder="Enter a number"
        min="1"
        step="1"
      />
      <p class="validator-hint">Must be between be 1 to 10</p>
    </div>
  </div>
}
<!-- Footer -->
<div class="flex justify-between mt-6 gap-2">
  @if (step() === "session") {
    <button class="btn btn-outline btn-secondary" (click)="handleCloseClick()">
      Cancel
    </button>
  } @else {
    <button
      class="btn btn-outline"
      [disabled]="isProcessing()"
      (click)="step.set('session')"
    >
      Previous
    </button>
  }
  <div class="flex gap-2">
    @if (step() === "session") {
      <button
        class="btn btn-outline btn-primary"
        [disabled]="!sessionStepIsValid() || isProcessing()"
        (click)="step.set('settings')"
      >
        Next
      </button>
    } @else {
      @if (isProcessing()) {
        <span class="loading loading-spinner loading-sm"></span>
      }
      <button
        [disabled]="!settingsStepIsValid() || isProcessing()"
        class="btn btn-soft btn-primary"
        (click)="handleExtractFramesClick()"
      >
        Extract frames
      </button>
    }
  </div>
</div>
