@if (form) {
  <app-alert-dialog (close)="closeDialog()">
    <app-alert-header> Add Existing Project </app-alert-header>

    <div class="prose py-4">
      <form [formGroup]="form">
        <fieldset class="fieldset">
          <h3 class="text-md font-bold">Data directory</h3>
          <div class="input w-full">
            <span class="material-icons !text-sm opacity-50">folder</span>
            <input
              formControlName="dataDir"
              type="text"
              class="grow"
              placeholder="/"
              spellcheck="false"
            />
          </div>
          @if (
            form.controls["dataDir"].invalid && form.controls["dataDir"].touched
          ) {
            <p class="text-error text-xs">Data directory is required.</p>
          }
        </fieldset>

        <app-model-dir-input
          formControlName="modelDirInfo"
          [dataDir]="form.value.dataDir"
        ></app-model-dir-input>

        <fieldset class="fieldset">
          <h3 class="text-md font-bold">Name</h3>
          <div class="input w-full">
            <input
              formControlName="projectKey"
              type="text"
              class="grow"
              spellcheck="false"
            />
          </div>
          @if (
            form.controls["projectKey"].invalid &&
            form.controls["projectKey"].touched
          ) {
            <p class="text-error text-xs">Project Key is required.</p>
          }
        </fieldset>
      </form>
    </div>

    <app-alert-footer>
      <button class="btn btn-soft" (click)="closeDialog()">Cancel</button>
      <button
        class="btn btn-primary"
        (click)="handleSave()"
        [disabled]="form.invalid"
      >
        Add Project
      </button>
    </app-alert-footer>
  </app-alert-dialog>
}
