<fieldset class="fieldset">
  <h3 class="text-md">Model directory</h3>

  <div class="flex gap-2">
    <input
      type="checkbox"
      class="checkbox"
      [ngModel]="useDefaultModelDir()"
      (ngModelChange)="onCheckboxChange($event)"
      [disabled]="isDisabled()"
    />
    <span class="m-0!"> Use the default model directory </span>
  </div>

  <app-path-editable
    [path]="modelDir()"
    (pathChange)="onInputChange($event)"
    [disabled]="useDefaultModelDir() || isDisabled()"
  />
</fieldset>
