<div
  class="not-prose grid grid-cols-1 gap-x-12 gap-y-12 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-5"
>
  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/"
    ><figure class="px-4 pt-4">
      <img
        loading="lazy"
        class="border-base-content/5 bg-base-300 rounded-lg border"
        src="https://img.daisyui.com/images/components/accordion.webp"
        alt="Accordion"
      />
    </figure>

    <div class="card-body">
      <h2 class="card-title">Project settings</h2>
      <p class="text-xs opacity-60">
        View and edit configuration for the current Project
      </p>
    </div></a
  >
  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/viewer/"
    ><figure class="px-4 pt-4">
      <img
        loading="lazy"
        class="border-base-content/5 bg-base-300 rounded-lg border"
        src="https://img.daisyui.com/images/components/accordion.webp"
        alt="Accordion"
      />
    </figure>

    <div class="card-body">
      <h2 class="card-title">Viewer</h2>
      <p class="text-xs opacity-60">View sessions and model predictions</p>
    </div></a
  >
  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/labeler"
    ><figure class="px-4 pt-4">
      <img
        loading="lazy"
        class="border-base-content/5 bg-base-300 rounded-lg border"
        src="https://img.daisyui.com/images/components/accordion.webp"
        alt="Accordion"
      />
    </figure>

    <div class="card-body">
      <h2 class="card-title">Labeler</h2>
      <p class="text-xs opacity-60">View labeled data and label new frames</p>
    </div></a
  >

  <a
    class="card card-compact hover:bg-base-200 transition-all duration-200 hover:-translate-y-1"
    href="/models"
    ><figure class="px-4 pt-4">
      <img
        loading="lazy"
        class="border-base-content/5 bg-base-300 rounded-lg border"
        src="https://img.daisyui.com/images/components/accordion.webp"
        alt="Accordion"
      />
    </figure>

    <div class="card-body">
      <h2 class="card-title">Models</h2>
      <p class="text-xs opacity-60">Train, evaluate, and run models</p>
    </div></a
  >
</div>
