<style>
  :host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .navbar {
    min-height: 3rem; /* reduce from default of 4rem */
  }
</style>
<header>
  <nav class="navbar bg-base-200 shadow-lg">
    <div class="navbar-start">
      <span class="text-lg font-semibold">Lightning Pose</span>
    </div>

    <div class="navbar-center">
      <ul class="menu menu-horizontal p-0">
        <li>
          <a
            routerLink="/viewer"
            routerLinkActive="menu-active"
            ariaCurrentWhenActive="page"
            >Viewer</a
          >
        </li>
        <li>
          <a
            routerLink="/labeler"
            routerLinkActive="menu-active"
            ariaCurrentWhenActive="page"
            >Labeler</a
          >
        </li>
      </ul>
    </div>

    <div class="navbar-end">
      <button class="btn btn-ghost">
        <span class="material-icons">settings</span>
      </button>
    </div>
  </nav>
</header>
<main class="flex-grow flex">
  <router-outlet />
</main>
