<style>
  :host {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .navbar {
    min-height: 3rem; /* reduce from default of 4rem */
  }
</style>
<header>
  <nav class="navbar bg-base-200 shadow-lg">
    <div class="navbar-start inline-flex items-center gap-3">
      @if (projectKey()) {
        <a class="btn hover:bg-base-content/10" href="/">
          <span class="material-icons">home</span>
        </a>
        <span class="text-base-content/70 text-lg select-none"> > </span>
        <span aria-label="Current project" class="mx-2 text-nowrap">
          {{ projectKey() }}</span
        >
      } @else {
        <a href="/"
          ><span class="text-lg font-semibold pl-2">Lightning Pose</span></a
        >
      }
    </div>

    <div class="navbar-center">
      <ul class="menu menu-horizontal p-0 flex items-stretch align-center">
        @if (this.projectKey()) {
          @for (entry of navLinks(); track entry.text) {
            <li>
              <a
                [routerLink]="entry.link"
                routerLinkActive="menu-active"
                ariaCurrentWhenActive="page"
                >{{ entry.text }}</a
              >
            </li>
          }
          <li>
            <!-- Settings button using routerLink to open the dialog -->
            <a
              [routerLink]="[]"
              [queryParams]="{ settingsOpen: 'true' }"
              queryParamsHandling="merge"
            >
              Settings
              <span class="material-icons text-sm!">settings</span>
            </a>
          </li>
        }
      </ul>
    </div>

    <div class="navbar-end flex gap-2">
      @if (!isCompatibleBrowser) {
        <div role="alert" class="alert alert-warning alert-soft">
          <span
            >Browser other than Chrome detected. <br />
            Switch to Chrome for Labeling and Viewing keypoints.</span
          >
        </div>
      }
      <div
        class="tooltip tooltip-left group"
        data-tip="We would love for to join the Discord and be a part of our community."
      >
        <a
          class="btn"
          [class.animate-pulse]="!localStorageService.hasSeenDiscordTooltip()"
          [class.btn-soft]="!localStorageService.hasSeenDiscordTooltip()"
          [class.btn-info]="!localStorageService.hasSeenDiscordTooltip()"
          (mouseenter)="localStorageService.setHasSeenDiscordTooltip(true)"
          tabindex="0"
          href="https://discord.gg/GpvhpSVsUg"
          target="_blank"
          rel="noopener noreferrer"
          ><span class="material-icons">question_answer</span
          ><span
            class="material-icons mb-1 text-xs! absolute top-0 right-0 invisible group-hover:visible"
            >open_in_new</span
          ></a
        >
      </div>
    </div>
    <div class="tooltip tooltip-left group" data-tip="Documentation">
      <a
        class="btn"
        tabindex="0"
        href="https://lightning-pose.readthedocs.io/en/latest/"
        target="_blank"
        rel="noopener noreferrer"
        ><span class="material-icons mb-1">menu_book</span
        ><span
          class="material-icons mb-1 text-xs! absolute top-0 right-0 invisible group-hover:visible"
          >open_in_new</span
        ></a
      >
    </div>
  </nav>
</header>

<!-- Context loading spinner (resolver-driven) -->
<div class="fixed top-4 right-4 z-50" aria-live="polite">
  @if (loadingService.isContextLoading()) {
    <span class="loading loading-spinner loading-lg text-primary"></span>
  }
</div>

<!-- Set min-height: 0 to allow it to shrink if its content is too large.
  Default min-height for flex items is auto. -->
<main class="flex-grow flex min-h-0">
  <router-outlet />
</main>

<!-- Settings dialog -->
<dialog #settingsDialog class="modal">
  @if (settingsDialogOpen()) {
    <app-project-settings
      class="modal-box w-5/6 max-w-3xl h-2/3 max-h-150"
      [setupMode]="settingsSetupMode()"
      [projectKey]="settingsProjectKey()"
      (doneCreation)="handleSettingsDialogDoneCreation($event)"
      (closeButtonClick)="closeSettingsDialog()"
    ></app-project-settings>

    <!-- Makes the dialog close when clicked from outside. -->
    <div class="modal-backdrop">
      <button (click)="closeSettingsDialog()">close</button>
    </div>
  }
</dialog>
