<!-- sessions panel -->
<div class="flex justify-between">
  <!--header row-->
  <h1 class="px-2">Sessions</h1>
  <div>
    <!-- right side of sessions header -->
    <!-- Add three dots dropdown with "change grouping rule". Stashed. -->
    <!--
    <div class="dropdown dropdown-end">
      <button class="btn btn-xs btn-ghost">
        <span class="material-icons text-base!">more_vert</span>
      </button>
      <ul
        tabindex="0"
        class="dropdown-content menu menu-sm bg-base-100 z-40 w-52 p-2 shadow-sm"
      >
        <li><a>Change grouping rule</a></li>
      </ul>
    </div>
      -->
  </div>
</div>
<div
  class="panel-content inset-shadow-xs inset-shadow-black/30 overflow-auto h-120"
>
  @if (sessionService.sessionsLoading()) {
    <progress class="progress w-full"></progress>
  } @else {
    <!--panel content-->
    <ul class="w-fit relative" tabindex="0" role="listbox">
      @for (session of sessionService.allSessions(); track session.key) {
        <li class="text-nowrap" routerLinkActive="bg-sky-700">
          <a
            role="option"
            class="p-1 block hover:bg-base-content/10 rounded-sm flex items-center justify-between"
            [routerLink]="['/viewer', session.key]"
          >
            <span>{{ session.key | path }}</span
            ><!-- left hand side -->
            <span>
              <span
                class="text-xs text-red-400 font-bold ml-2"
                [hidden]="!sessionHasModel1(session.key)"
              >
                M</span
              ><!-- right hand side -->
              <span
                class="text-xs text-green-400 font-bold ml-1"
                [hidden]="!sessionHasModel2(session.key)"
              >
                M</span
              ><!-- right hand side -->
            </span>
          </a>
        </li>
      }
    </ul>
  }
</div>
@if (fineVideoService.numPendingTranscodeTasks().pending > 0) {
  <div class="text-sm flex">
    <span class="material-icons !text-sm max-w-4">info_i</span>
    <span>Videos will populate once they are transcoded.</span>
  </div>
}
