<div
  class="panel-content inset-shadow-xs inset-shadow-black/30 overflow-auto h-120"
>
  @if (sessionService.sessionsLoading()) {
    <progress class="progress w-full"></progress>
  } @else {
    <!--panel content-->
    <ul class="w-fit relative" tabindex="0" role="listbox">
      @for (session of sessionService.allSessions(); track session.key) {
        <li
          tabindex="0"
          class="text-nowrap p-1 block hover:bg-base-content/10 rounded-sm flex items-center justify-between cursor-pointer"
          (click)="handleSessionSelect(session)"
          (keydown.enter)="handleSessionSelect(session)"
          [class.bg-sky-700]="session.key === selectedSessionKey()"
        >
          <span>{{ session.key | path }}</span
          ><!-- left hand side -->
          <span>
            <span
              class="text-xs text-red-400 font-bold ml-2"
              [hidden]="!sessionHasModel1(session.key)"
            >
              M</span
            ><!-- right hand side -->
            <span
              class="text-xs text-green-400 font-bold ml-1"
              [hidden]="!sessionHasModel2(session.key)"
            >
              M</span
            ><!-- right hand side -->
          </span>
        </li>
      }
    </ul>
  }
</div>
