<!-- sessions panel -->
<div class="flex justify-between">
  <!--header row-->
  <h1 class="px-2">Sessions</h1>
  <div>
    <!-- right side of section -->
    <div class="dropdown dropdown-end">
      <button class="btn btn-xs btn-ghost">
        <span class="material-icons text-base!">more_vert</span>
      </button>
      <ul
        tabindex="0"
        class="dropdown-content menu menu-sm bg-base-100 z-40 w-52 p-2 shadow-sm"
      >
        <li><a>Change grouping rule</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="panel-content inset-shadow-xs inset-shadow-black/30">
  <!--panel content-->
  <div class="overflow-x-auto">
    <ul class="w-fit relative" tabindex="0" role="listbox">
      @for (session of sessionService.allSessions(); track session.key) {
        <li class="text-nowrap" routerLinkActive="bg-sky-700">
          <a
            role="option"
            class="p-1 block hover:bg-base-content/10 rounded-sm"
            [routerLink]="['/viewer', session.key]"
          >
            {{ session.key }}
          </a>
        </li>
      }
    </ul>
  </div>
</div>
