<div role="tablist" class="tabs tabs-lift">
  @let tabs =
    [
      { id: "general", label: "General" },
      { id: "logs", label: "Logs" },
    ];
  @for (tab of tabs; track tab) {
    <a
      role="tab"
      class="tab"
      [class.tab-active]="activeTab() === tab.id"
      (click)="activeTab.set(tab.id)"
      (keydown.enter)="activeTab.set(tab.id)"
      >{{ tab.label }}</a
    >
  }
</div>
<div class="p-4">
  @if (activeTab() === "general") {
    <pre>{{ selectedModel() | json }}</pre>
  } @else if (activeTab() === "logs") {
    @for (logEntry of logs(); track logEntry.filename) {
      <div class="collapse collapse-arrow bg-base-100 border border-base-300">
        <input type="radio" name="my-accordion-2" />
        <div class="collapse-title font-semibold">{{ logEntry.filename }}</div>
        <div class="collapse-content text-sm">
          <pre class="max-h-140 overflow-y-auto">{{ logEntry.content }}</pre>
        </div>
      </div>
    }
  }
</div>
