<style>
  .cdk-option-active {
    background-color: var(--color-base-300);
  }
</style>

<table class="table table-pin-rows">
  <thead>
    <tr>
      <!-- shelving multiselect for action for now, leaving
        code in case we want to bring it back later
      <th>

      </th> -->
      <th>Model Relative Path</th>
      <th></th>
      <th>Model Type</th>
      <th>Date Created</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody
    cdkListbox
    [cdkListboxValue]="getCdkListboxValue()"
    (cdkListboxValueChange)="handleCdkListboxChange($event.value)"
    [cdkListboxCompareWith]="cdkListboxCompareFn"
  >
    @for (m of models().models; track m.model_relative_path) {
      @let u = mc_util(m);
      <tr class="group hover:bg-base-200 cursor-pointer" [cdkOption]="m">
        <!-- shelving multiselect for action for now, leaving
          code in case we want to bring it back later

          stopPropagation to prevent cdkListbox from listening
           actionSelection is completely separate from cdkListbox state
        <td>


          <label>
            <input
              (click)="$event.stopPropagation()"
              (change)="handleSelectModelForAction(m)"
              [checked]="isModelSelectedForAction(m)"
              type="checkbox"
              class="checkbox"
            />
          </label>

        </td> -->
        <td class="pl-2">{{ m.model_relative_path | path }}</td>
        <td class="opacity-0 group-hover:opacity-100 transition-opacity">
          <div class="tooltip" data-tip="Delete">
            <button
              class="btn btn-circle btn-ghost btn-error btn-sm material-icons"
              (click)="handleModelInlineActionDelete($event, m)"
            >
              delete
            </button>
          </div>
          <div class="tooltip" data-tip="Rename">
            <button
              class="btn btn-circle btn-ghost btn-info btn-sm material-icons"
              (click)="handleModelInlineActionRename($event, m)"
            >
              edit
            </button>
          </div>
        </td>
        <td>{{ u.c ? (u.type | modelType) : "" }}</td>
        <td>{{ u.createdAt | date }}</td>
        <td>
          {{ u.c ? u.status : "" }}
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="100" class="text-center opacity-60">
          No models found in model directory.
        </td>
      </tr>
    }
  </tbody>
</table>


@if (isDeleteDialogOpen()) {
  <app-model-delete-dialog
    [modelRelativePath]="inlineActionModel()?.model_relative_path ?? ''"
    (done)="handleDeleteDialogDone($event)"
  ></app-model-delete-dialog>
}
@if (isRenameDialogOpen()) {
  <app-model-rename-dialog
    [modelRelativePath]="inlineActionModel()?.model_relative_path ?? ''"
    (done)="handleRenameDialogDone($event)"
  ></app-model-rename-dialog>
}
