<dialog class="modal modal-open">
  <div class="modal-box w-5/6 max-w-3xl">
    <button
      class="btn btn-md btn-circle btn-ghost absolute right-4 top-4"
      (click)="handleCloseClick()"
    >
      ✕
    </button>
    <h3 class="text-xl font-bold mb-4">Run inference (new)</h3>
    <div class="py-4">
      <p>Hello World</p>
    </div>
    <footer class="shrink-0 modal-action justify-between!">
      <div class="text-error text-sm">
        <!-- Validation error area -->
      </div>
      <div class="flex gap-2">
        <button class="btn btn-soft" (click)="handleCloseClick()">Cancel</button>
        <button class="btn btn-soft btn-primary">Run</button>
      </div>
    </footer>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button (click)="handleCloseClick()">close</button>
  </form>
</dialog>
