<app-zoomable-content
  #primaryZoomable
  class="h-full w-full"
  [maxScale]="100"
  [interactivityDisabled]="zoomableInteractivityDisabled()"
>
  <div #content class="relative">
    @for (imSrc of temporalImgPaths(fv().imgPath); track $index) {
      <!-- img has max-w-none to override a bad default value of 100% -->
      <img
        [src]="imSrc"
        class="max-w-none"
        [style.filter]="imgCssFilterString()"
        [alt]="imSrc"
        [class.hidden]="
          $index !== (!isShowingTemporalContext() ? 2 : temporalContextIndex())
        "
      />
    }
    @if (!isShowingTemporalContext()) {
      <app-keypoint-container
        [enableEditing]="!disableInteractions()"
        [keypointModels]="getCachedKeypointViewModels(fv().keypoints)"
        [(selectedKeypoint)]="selectedKeypoint"
        [useCrossHairs]="true"
        [editMode]="labelerDefaultsToEditMode"
        (keypointUpdated)="handleKeypointUpdated($event.kp, $event.position)"
        class="absolute top-0 left-0 h-full w-full"
      ></app-keypoint-container>
    }
  </div>
</app-zoomable-content>
