/* You can add global styles to this file, and also import other style files */

/* using tailwind instead of angular defaults:
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  /*themes: light --default, dark --prefersdark; */
  themes: dim --default;
}

.panel {
  @apply bg-base-300 border-4 border-base-300 rounded-md;
}

.panel-content {
  @apply bg-base-100 p-1 text-sm;
}

.app-empty-select {
  /* Step 1: 60% opacity using color-mix */
  /* We mix the base content color with 'transparent' */
  color: color-mix(in oklch, var(--color-base-content), transparent 40%);

  /* Step 2: Background Glow using the primary color */
  /* We mix primary with transparent to create a soft 30% glow */
  box-shadow: 0 0 15px color-mix(in oklch, var(--color-primary), transparent 70%);

  /* Step 3: Background and Border */
  background-color: var(--color-base-100);
  border: 1px solid color-mix(in oklch, var(--color-primary), transparent 50%) !important;

  transition: all 0.3s ease;
}


/** Custom accordion. I don't like daisy's styles */
/* Container styling */
.app-accordion-toggle { display: none; }

/* Header layout */
.app-accordion-title {
  cursor: pointer;
}

/* State Indicator */
.app-accordion-icon::before { content: '+'; }

/* Collapse Logic */
.app-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

/* Expand Logic */
.app-accordion-toggle:checked + .app-accordion-title .app-accordion-icon::before {
  content: '-';
}

.app-accordion-toggle:checked ~ .app-accordion-content {
  max-height: 1000px;
}

body {
  --as-gutter-background-color: var(--color-base-200) !important;
}
.as-split-gutter-icon {
  background-image: none !important;
}
