<h1 mat-dialog-title>An error has occurred 😞</h1>
<div mat-dialog-content>
  @if (data.status) {
    <p>
      <b>Status Code: {{ data.status }}</b>
    </p>
  }
  <p>Error message</p>
  <div class="w-full h-full overflow-auto">
    <p class="error-message w-fit h-fit">
      {{ data?.stack ?? data?.message ?? "Undefined client error" }}
    </p>
  </div>
  @if (data.error) {
    @if (data.status === 500) {
      <p>Stacktrace</p>
      <pre
        class="error-message w-fit h-fit"
      ><code [appHighlight]="data?.error" [language]="'bash'"></code></pre>
    } @else {
      <p>Error body</p>
      <p class="error-message w-fit h-fit">
        {{ data?.error?.detail ?? data?.error | json }}
      </p>
    }
  }
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary">Close</button>
</div>
