<style>
  :host {
    flex-grow: 1;
    display: flex;
  }
</style>

@if (!isIniting()) {
  <div class="grow flex flex-row items-stretch">
    <!-- Left pane -->
    <div
      class="bg-base-200 w-60 xl:w-80 flex flex-col justify-between shadow-lg"
    >
      <div>
        <div class="p-4 flex justify-between items-center">
          Label file
          <select
            class="select select-sm max-w-50"
            (change)="handleSelectLabelFile($any($event.target).value)"
          >
            @let nullOption = { key: "None", views: [] };
            @for (
              labelFile of $any([nullOption]).concat(
                sessionService.allLabelFiles()
              );
              track labelFile.key
            ) {
              <option
                [value]="labelFile.key"
                [selected]="labelFile.key === selectedLabelFile()?.key"
              >
                {{ labelFile.key }}
              </option>
            }
          </select>
        </div>
        @if (isLoading()) {
          <div class="p-4">Loading CSV file...</div>
        }
        <div class="p-4">
          <!-- labeled frames panel -->
          <div class="flex justify-between bg-base-300 items-center">
            <!--header row-->
            <h1 class="">Labeled frames</h1>
            <div class="text-xs">
              {{ labelFileDataLabeledSlice().length }}
            </div>
          </div>
          <div
            class="panel-content inset-shadow-xs inset-shadow-black/30 overflow-auto h-60"
          >
            <!--panel content-->
            <ul class="w-fit relative" tabindex="0" role="listbox">
              @if (labelFileDataLabeledSlice() === null) {
                <li class="p-1">No labeled frames</li>
              } @else {
                @for (frame of labelFileDataLabeledSlice(); track frame.key) {
                  <li class="text-nowrap" routerLinkActive="bg-sky-700">
                    <a
                      class="p-1 block hover:bg-base-content/10 rounded-sm flex items-center justify-between text-xs"
                      [routerLink]="['/labeler']"
                      [queryParams]="{
                        labelFileKey: selectedLabelFile()?.key,
                        frameKey: frame.key,
                      }"
                    >
                      <span>{{ frame.key | path }}</span>
                      <!-- left hand side -->
                    </a>
                  </li>
                }
              }
            </ul>
          </div>
        </div>
        <div class="p-4">
          <div class="bg-base-300">
            <!--header row-->
            <!-- labeled frames panel -->
            <div class="flex justify-between bg-base-300 items-center">
              <!--header row-->
              <h1 class="">Remaining frames to label</h1>
              <div class="text-xs">
                {{ labelFileDataUnLabeledSlice().length }}
              </div>
            </div>
            <div class="text-sm">Please label one at a time</div>
          </div>
          <div
            class="panel-content inset-shadow-xs inset-shadow-black/30 overflow-auto h-60"
          >
            <!--panel content-->
            <ul class="w-fit relative" tabindex="0" role="listbox">
              @if (labelFileDataUnLabeledSlice() === null) {
                <li class="p-1">No labeled frames</li>
              } @else {
                @for (frame of labelFileDataUnLabeledSlice(); track frame.key) {
                  <li class="text-nowrap" routerLinkActive="bg-sky-700">
                    <a
                      class="p-1 block hover:bg-base-content/10 rounded-sm flex items-center justify-between text-xs"
                      [routerLink]="['/labeler']"
                      [queryParams]="{
                        labelFileKey: selectedLabelFile()?.key,
                        frameKey: frame.key,
                      }"
                    >
                      <span>{{ frame.key | path }}</span>
                      <!-- left hand side -->
                    </a>
                  </li>
                }
              }
            </ul>
          </div>
        </div>
      </div>
      <app-loading-bar class="h-20 p-4"></app-loading-bar>
    </div>

    <!-- Center content -->
    <app-labeler-center-panel
      class="grow z-30"
      [labelFile]="loadedLabelFile()"
      [frame]="selectedFrame()"
      (saved)="handleSaved($event)"
    ></app-labeler-center-panel>
  </div>
}
