<style>
  :host {
    flex-grow: 1;
    display: flex;
  }
</style>

@if (!isIniting()) {
  <div class="grow flex flex-row items-stretch">
    <!-- Left pane -->
    <div
      class="bg-base-200 w-60 xl:w-80 flex flex-col justify-between shadow-lg"
    >
      <div>
        <div class="p-4 flex justify-between items-center">
          Label file
          <select
            class="max-w-50"
            (change)="
              setSelectedLabelFile(
                sessionService.allLabelFiles()[
                  $any($event.target).selectedIndex
                ]
              )
            "
          >
            @for (
              session of sessionService.allLabelFiles();
              track session.key
            ) {
              <option [selected]="session === selectedLabelFile()">
                {{ session.key }}
              </option>
            }
          </select>
        </div>
        @if (isLoading()) {
          <div class="p-4">Loading CSV file...</div>
        }
        <div class="p-4">
          <!-- sessions panel -->
          <div class="flex justify-between">
            <!--header row-->
            <h1 class="px-2">Frames</h1>
            <div></div>
          </div>
          <div
            class="panel-content inset-shadow-xs inset-shadow-black/30 overflow-auto h-120"
          >
            <!--panel content-->
            <ul class="w-fit relative" tabindex="0" role="listbox">
              @if (labelFileData() === null) {
                <li class="p-1">No data available</li>
              } @else {
                @for (idx of labelFileData()?.index; track idx) {
                  <li class="text-nowrap" routerLinkActive="bg-sky-700">
                    <a
                      class="p-1 block hover:bg-base-content/10 rounded-sm flex items-center justify-between"
                      [routerLink]="['/labeler', selectedLabelFile()?.key, idx]"
                    >
                      <span>{{ idx }}</span
                      ><!-- left hand side -->
                    </a>
                  </li>
                }
              }
            </ul>
          </div>
        </div>
      </div>
      <app-loading-bar class="h-20 p-4"></app-loading-bar>
    </div>

    <!-- Center content -->
    <app-labeler-center-panel
      class="grow z-30"
      [frame]="selectedFrame()"
      [keypoints]="keypoints()"
      (save)="handleSaveAction($event)"
    ></app-labeler-center-panel>
  </div>
}
