<div class="grid grid-cols-1 md:grid-cols-[2fr_1fr] h-[90vh] w-full gap-4">
  <!-- First Column: Nested Grid with Two Rows -->
  <!-- grid-rows-[1fr_auto] makes the first row take available space (big), and the second row size to its content (small) -->
  <!-- Alternatively, you could use fixed heights like grid-rows-[1fr_h-32] for the second row -->
  <div class="grid grid-rows-[1fr_auto] gap-4 p-4">
    <!-- Main view -->

    @if (selectedFrameView(); as fv) {
      <div>
        <h3 class="bg-base-200 px-2 text-md">
          {{ fv.viewName }}
        </h3>
        <app-zoomable-content class="h-full w-full" [maxScale]="100">
          <div #content class="relative">
            <!-- img has max-w-none to override a bad default value of 100% -->
            <img
              [src]="imgPath(fv.imgPath)"
              class="max-w-none"
              alt="fv.imgPath"
            />
            <app-keypoint-container
              [enableEditing]="!disableInteractions()"
              [keypointModels]="getCachedKeypointViewModels(fv.keypoints)"
              [(selectedKeypoint)]="selectedKeypoint"
              [useCrossHairs]="true"
              [editMode]="labelerDefaultsToEditMode"
              (keypointUpdated)="
                handleKeypointUpdated($event.kp, $event.position, fv)
              "
              class="absolute top-0 left-0 h-full w-full"
            ></app-keypoint-container>
          </div>
        </app-zoomable-content>
      </div>
    }

    <!-- Filmstrip of all views (Small Height, Horizontal Overflow) -->
    <!-- overflow-x-auto enables horizontal scrolling -->
    <!-- whitespace-nowrap ensures content stays on a single line to trigger overflow -->
    <div
      class="p-4 rounded-lg overflow-x-auto whitespace-nowrap"
      appHorizontalScroll
    >
      @if (frame(); as frame2) {
        @let views2 = frame2.views;
        @for (fv of views2; track fv.viewName) {
          <div
            class="!inline-block m-1 rounded-sm overflow-hidden border-primary hover:border"
            [class.border]="selectedView() === fv.viewName"
            [class.cursor-pointer]="selectedView() !== fv.viewName"
            (click)="handleViewClickFromFilmstrip(fv.viewName)"
          >
            <h3 class="bg-base-200 px-1 text-sm">
              {{ fv.viewName }}
            </h3>

            <app-zoomable-content
              class="!h-[112px] !w-[112px]"
              [interactivityDisabled]="true"
            >
              <img
                #content
                [src]="imgPath(fv.imgPath)"
                class="max-w-none"
                height="320"
                width="320"
                alt="fv.imgPath"
              />
              <app-keypoint-container
                [keypointModels]="getCachedKeypointViewModels(fv.keypoints)"
              ></app-keypoint-container>
            </app-zoomable-content>
          </div>
        }
      }
    </div>
  </div>

  <!-- Second Column: Single Row -->
  <div class="flex flex-col gap-4">
    <div class="panel m-4">
      <div>
        <!-- panel header -->
        <h1 class="px-2 mb-1">Keypoints</h1>
      </div>
      <div class="panel-content overflow-y-auto">
        @if (selectedFrameView(); as fv) {
          <ul>
            @for (kp of fv.keypoints; track $index) {
              <li
                class="p-1 flex justify-between items-center group {{
                  kp.keypointName === selectedKeypoint()
                    ? 'bg-sky-700'
                    : 'hover:bg-base-content/10 cursor-pointer'
                }}"
                (click)="selectedKeypoint.set(kp.keypointName)"
              >
                <span>{{ kp.keypointName }}</span>
                <span class="flex items-center">
                  (
                  <span>{{ kp.x | number: "1.0-1" }}</span>
                  ,
                  <span>{{ kp.y | number: "1.0-1" }}</span>
                  )
                  <button
                    class="btn btn-circle btn-xs !text-xs material-icons ml-2 invisible group-hover:visible"
                    (click)="handleKeypointClearClick(kp)"
                  >
                    close
                  </button>
                </span>
              </li>
            }
          </ul>
        }
      </div>
    </div>
    @if (frame(); as frame2) {
      @let lbfl = labelFile()!;
      <div class="m-4">
        <h3 class="text-md font-semibold">Multi-view auto-label</h3>
        <p class="text-sm">
          Infers keypoints for other views by triangulating labels from at least
          two views in 3D space and projecting to the other views.
        </p>
        <ul class="text-xs list-disc list-inside">
          <li>
            Requires camera calibration files in
            <code>calibrations/&lt;sessionKey&gt;.toml</code> format.
            <code>sessionKey</code> is the video filename with the viewname
            stripped out: (e.g. <code>session1_view1.mp4</code> ->
            <code>session1_.toml</code>).
          </li>
          <li>
            Assumes video name is the 2nd part of the frame key (e.g.
            <code>labeled_data/&lt;video_name&gt;/frame_001.png</code> where
            video_name is without the file extension.
          </li>
        </ul>
        <button
          class="btn btn-xs bg-sky-700 w-full"
          [class.btn-disabled]="disableInteractions()"
          (click)="handleMVAutoLabelClick(lbfl, frame2)"
          (keydown.enter)="handleMVAutoLabelClick(lbfl, frame2)"
        >
          Generate labels
        </button>
      </div>
    }
    <div class="m-4">
      @if (frame(); as frame2) {
        @let lbfl = labelFile()!;
        <div class="tooltip w-full" [attr.data-tip]="saveTooltip">
          <button
            class="btn bg-sky-700 w-full"
            [class.btn-disabled]="isSaveDisabled()"
            (click)="handleSaveClick(lbfl, frame2, false)"
            (keydown.enter)="handleSaveClick(lbfl, frame2, false)"
          >
            Save
          </button>
        </div>
        @if (mvf(frame2).isFromUnlabeledSet) {
          <div
            class="tooltip tooltip-bottom w-full"
            [attr.data-tip]="saveAndContinueTooltip"
          >
            <button
              class="btn bg-sky-700 w-full mt-2"
              [class.btn-disabled]="isSaveDisabled()"
              (click)="handleSaveClick(lbfl, frame2, true)"
              (keydown.enter)="handleSaveClick(lbfl, frame2, true)"
            >
              Save and continue
            </button>
          </div>
        }
      }
    </div>
  </div>
</div>
