<div class="grid grid-cols-1 md:grid-cols-[2fr_1fr] h-[90vh] w-full gap-4">
  <!-- First Column: Nested Grid with Two Rows -->
  <!-- grid-rows-[1fr_auto] makes the first row take available space (big), and the second row size to its content (small) -->
  <!-- Alternatively, you could use fixed heights like grid-rows-[1fr_h-32] for the second row -->
  <div class="grid grid-rows-[1fr_auto] gap-4 p-4">
    <!-- Main view -->

    @if (!labelFile()) {
      <div class="flex items-center justify-center h-full">
        <div class="text-lg opacity-60 text-center">
          Select a label file on the left
        </div>
      </div>
    } @else if (!frame()) {
      <div class="flex items-center justify-center h-full">
        <div class="text-lg opacity-60 text-center">
          Select a frame on the left to view
        </div>
      </div>
    } @else {
      @let fv = selectedFrameView()!;
      <div>
        <h3 class="bg-base-200 px-2 text-md">
          {{ fv.viewName }}
        </h3>
        <app-zoomable-content
          #primaryZoomable
          class="h-full w-full"
          [maxScale]="100"
        >
          <div #content class="relative">
            <!-- img has max-w-none to override a bad default value of 100% -->
            <img
              [src]="imgPath(fv.imgPath)"
              class="max-w-none"
              alt="fv.imgPath"
            />
            <app-keypoint-container
              [enableEditing]="!disableInteractions()"
              [keypointModels]="getCachedKeypointViewModels(fv.keypoints)"
              [(selectedKeypoint)]="selectedKeypoint"
              [useCrossHairs]="true"
              [editMode]="labelerDefaultsToEditMode"
              (keypointUpdated)="
                handleKeypointUpdated($event.kp, $event.position, fv)
              "
              class="absolute top-0 left-0 h-full w-full"
            ></app-keypoint-container>
          </div>
        </app-zoomable-content>
      </div>
    }

    <!-- Filmstrip of all views (Small Height, Horizontal Overflow) -->
    <!-- overflow-x-auto enables horizontal scrolling -->
    <!-- whitespace-nowrap ensures content stays on a single line to trigger overflow -->
    <div
      class="p-4 rounded-lg overflow-x-auto whitespace-nowrap"
      appHorizontalScroll
    >
      @if (frame(); as frame2) {
        @let views2 = frame2.views;
        @for (fv of views2; track fv.viewName) {
          <div
            class="!inline-block m-1 rounded-sm overflow-hidden border-primary hover:border"
            [class.border]="selectedView() === fv.viewName"
            [class.cursor-pointer]="selectedView() !== fv.viewName"
            (click)="handleViewClickFromFilmstrip(fv.viewName)"
          >
            <h3 class="bg-base-200 px-1 text-sm">
              {{ fv.viewName }}
            </h3>

            <app-zoomable-content
              class="!h-[112px] !w-[112px]"
              [interactivityDisabled]="true"
            >
              <img
                #content
                [src]="imgPath(fv.imgPath)"
                class="max-w-none"
                height="320"
                width="320"
                alt="fv.imgPath"
              />
              <app-keypoint-container
                [keypointModels]="getCachedKeypointViewModels(fv.keypoints)"
              ></app-keypoint-container>
            </app-zoomable-content>
          </div>
        }
      }
    </div>
  </div>

  <!-- Second Column: Single Row -->
  <div class="flex flex-col gap-4">
    <div class="panel m-4">
      <div>
        <!-- panel header -->
        <h1 class="px-2 mb-1">Keypoints</h1>
      </div>
      <div class="panel-content overflow-y-auto max-h-100">
        @if (selectedFrameView(); as fv) {
          <ul>
            @for (kp of fv.keypoints; track $index) {
              <li
                class="p-1 flex justify-between items-center group {{
                  kp.keypointName === selectedKeypoint()
                    ? 'bg-sky-700'
                    : 'hover:bg-base-content/10 cursor-pointer'
                }}"
                (click)="selectedKeypoint.set(kp.keypointName)"
              >
                <span>{{ kp.keypointName }}</span>
                <span class="flex items-center">
                  (
                  <span>{{ kp.x | number: "1.0-1" }}</span>
                  ,
                  <span>{{ kp.y | number: "1.0-1" }}</span>
                  )
                  <button
                    class="btn btn-circle btn-xs !text-xs material-icons ml-2 invisible group-hover:visible"
                    (click)="handleKeypointClearClick(kp)"
                  >
                    close
                  </button>
                </span>
              </li>
            }
          </ul>
        }
      </div>
    </div>
    @if (frame(); as frame2) {
      @let lbfl = labelFile()!;
      <div class="panel m-4 mt-0">
        <div>
          <!-- panel header -->
          <h1 class="px-2 mb-1 flex justify-between items-center">
            Multiview tools
            <button
              class="btn btn-circle btn-info btn-soft btn-xs text-sm! tooltip tooltip-bottom"
              data-tip="Learn more"
              onclick="multiview_info.showModal()"
            >
              <span class="material-icons text-xs!">question_mark</span>
            </button>
          </h1>
        </div>
        <dialog class="modal" id="multiview_info">
          <div class="modal-box w-5/6 max-w-3xl prose">
            <button
              class="btn btn-md btn-circle btn-ghost absolute right-4 top-4"
              onclick="multiview_info.close()"
            >
              ✕
            </button>
            <h2 class="mt-0">Multiview tools</h2>
            <p>Use camera parameters to assist labeling.</p>
            <p>
              With accurate parameters, you need only label two views per
              keypoint: the other views can be auto-labeled by triangulating and
              reprojecting. The tool also supports bundle adjustment to refine
              the camera parameters after labeling several frames.
            </p>
            <h3>How to provide camera parameters to Lightning Pose</h3>
            <p>
              Camera calibration is typically performed using Anipose before
              every session. Camera parameters are recommended to be
              session-specific to allow for changes in camera position from
              session to session, however a single project-wide calibration file
              is also supported.
            </p>
            <p>
              Session specific calibration files should be at
              <code>{{ "calibrations/{sessionKey}.toml" | path }}</code
              >. where <code>sessionKey</code> is the video filename without the
              viewname.<br />
              For example, the calibration file for session with files like
            </p>

            <ul>
              <li>
                <code>{{ "videos/session1_view1.mp4" | path }}</code> would be
                <code>{{ "calibrations/session1.toml" | path }}</code>
              </li>
              <li>
                <code>{{ "videos/session1_view1_123.mp4" | path }}</code> would
                be
                <code>{{ "calibrations/session1_123.toml" | path }}</code>
              </li>
            </ul>
            <p>
              The optional project calibration file should be at
              <code>calibration.toml</code>. It will be used if session-specific
              calibration is not found. When bundle adjustment is performed, it
              will not modify the project calibration.toml; it will instead
              output a session-specific calibration file.
            </p>

            <div class="modal-action">
              <form method="dialog">
                <!-- if there is a button in form, it will close the modal -->
                <button class="btn">Close</button>
              </form>
            </div>
          </div>
        </dialog>
        <div class="panel-content overflow-y-auto p-2!">
          <button
            class="btn btn-sm bg-sky-700 w-full mb-2"
            [class.btn-disabled]="
              !hasCameraCalibrationFiles() || disableInteractions()
            "
            (click)="handleMVAutoLabelClick(lbfl, frame2)"
          >
            ✨ Project keypoints to all views
          </button>
          <button
            class="btn btn-sm w-full btn-soft"
            [class.btn-disabled]="
              !hasCameraCalibrationFiles() || disableInteractions()
            "
            (click)="baDialog.open()"
          >
            <span class="material-icons">model_training</span>
            Refine calibration (bundle adjustment)
          </button>
          <app-bundle-adjust-dialog
            #baDialog
            [labelFile]="labelFile()"
            [frame]="this.frame()"
            [numLabeledFrames]="numLabeledFrames()"
          ></app-bundle-adjust-dialog>
        </div>
      </div>
    }
    <div class="m-4">
      @if (frame(); as frame2) {
        @let lbfl = labelFile()!;
        <div class="flex gap-2 w-full">
          <div class="tooltip grow" [attr.data-tip]="saveTooltip">
            <button
              class="btn bg-sky-700 w-full"
              [class.btn-disabled]="isSaveDisabled()"
              (click)="handleSaveClick(lbfl, frame2, false)"
              (keydown.enter)="handleSaveClick(lbfl, frame2, false)"
            >
              <span class="material-icons">save</span> Save
            </button>
          </div>
          @if (!mvf(this.frame()!).isFromUnlabeledSet) {
            <div
              class="tooltip tooltip-left"
              data-tip="Remove frame from label file"
            >
              <button
                class="btn btn-error btn-soft w-full"
                [class.btn-disabled]="false"
                (click)="handleSaveClick(lbfl, frame2, false, true)"
                (keydown.enter)="handleSaveClick(lbfl, frame2, false, true)"
              >
                <span class="material-icons">delete</span>
              </button>
            </div>
          } @else {
            <div
              class="tooltip tooltip-left"
              data-tip="Remove frame from labeling queue"
            >
              <button
                class="btn btn-soft w-full"
                [class.btn-disabled]="false"
                (click)="handleSaveClick(lbfl, frame2, false, true)"
                (keydown.enter)="handleSaveClick(lbfl, frame2, false, true)"
              >
                <span class="material-icons">cancel</span>
              </button>
            </div>
          }
        </div>
        <div
          class="tooltip tooltip-bottom w-full"
          [attr.data-tip]="saveAndContinueTooltip"
        >
          <button
            class="btn bg-sky-700 w-full mt-2"
            [class.btn-disabled]="isSaveDisabled()"
            (click)="handleSaveClick(lbfl, frame2, true)"
            (keydown.enter)="handleSaveClick(lbfl, frame2, true)"
          >
            <span class="material-icons">save</span>
            Save and next
            <span class="material-icons">arrow_forward</span>
          </button>
        </div>
      }
    </div>
  </div>
</div>
