<div class="grid grid-cols-1 md:grid-cols-[2fr_1fr] h-[90vh] w-full gap-4">
  <!-- First Column: Nested Grid with Two Rows -->
  <!-- grid-rows-[1fr_auto] makes the first row take available space (big), and the second row size to its content (small) -->
  <!-- Alternatively, you could use fixed heights like grid-rows-[1fr_h-32] for the second row -->
  <div class="grid grid-rows-[1fr_auto] gap-4 p-4">
    <!-- Main view -->

    @if (selectedFrameView(); as fv) {
      <div>
        <h3 class="bg-base-200 px-2 text-md">
          {{ fv.viewName }}
        </h3>
        <app-zoomable-content class="h-full w-full" [maxScale]="100">
          <div #content class="relative">
            <!-- img has max-w-none to override a bad default value of 100% -->
            <img
              [src]="imgPath(fv.imgPath)"
              class="max-w-none"
              alt="fv.imgPath"
            />
            <app-keypoint-container
              [labelerMode]="true"
              [keypointModels]="kpAdapter(fv.keypoints)"
              [(selectedKeypoint)]="selectedKeypoint"
              [useCrossHairs]="true"
              class="absolute top-0 left-0 h-full w-full"
            ></app-keypoint-container>
          </div>
        </app-zoomable-content>
      </div>
    }

    <!-- Filmstrip of all views (Small Height, Horizontal Overflow) -->
    <!-- overflow-x-auto enables horizontal scrolling -->
    <!-- whitespace-nowrap ensures content stays on a single line to trigger overflow -->
    <div
      class="p-4 rounded-lg overflow-x-auto whitespace-nowrap"
      appHorizontalScroll
    >
      @if (frame(); as frame2) {
        @let views2 = frame2.views;
        @for (fv of views2; track fv.viewName) {
          <div
            class="!inline-block m-1 rounded-sm overflow-hidden border-primary hover:border"
            [class.border]="selectedView() === fv.viewName"
            [class.cursor-pointer]="selectedView() !== fv.viewName"
            (click)="handleViewClickFromFilmstrip(fv.viewName)"
          >
            <h3 class="bg-base-200 px-1 text-sm">
              {{ fv.viewName }}
            </h3>

            <app-zoomable-content
              class="!h-[112px] !w-[112px]"
              [interactivityDisabled]="true"
            >
              <img
                #content
                [src]="imgPath(fv.imgPath)"
                class="max-w-none"
                height="320"
                width="320"
                alt="fv.imgPath"
              />
              <app-keypoint-container
                [keypointModels]="kpAdapter(fv.keypoints)"
              ></app-keypoint-container>
            </app-zoomable-content>
          </div>
        }
      }
    </div>
  </div>

  <!-- Second Column: Single Row -->
  <div>
    <div class="panel m-4">
      <div>
        <!-- panel header -->
        <h1 class="px-2 mb-1">Keypoints</h1>
      </div>
      <div class="panel-content overflow-y-auto">
        @if (selectedFrameView(); as fv) {
          <ul>
            @for (kp of fv.keypoints; track $index) {
              <li
                class="p-1 flex justify-between items-center {{
                  kp.keypointName === selectedKeypoint()
                    ? 'bg-sky-700'
                    : 'hover:bg-base-content/10 cursor-pointer'
                }}"
                (click)="selectedKeypoint.set(kp.keypointName)"
              >
                <span>{{ kp.keypointName }}</span>
                <span class="coordinates-display">
                  (
                  <span>{{ kp.x | number: "1.0-1" }}</span>
                  ,
                  <span>{{ kp.y | number: "1.0-1" }}</span>
                  )
                </span>
              </li>
            }
          </ul>
        }
      </div>
    </div>
  </div>
</div>
