<style>
  ::placeholder {
    /** bring back the default style from daisy. dont know why it's getting overridden. */
    color: color-mix(in oklch, currentColor 50%, #0000) !important;
  }
</style>

<h3 class="text-xl font-bold">
  @if (setupMode()) {
    Setup
  } @else {
    Settings
  }
</h3>

<form [formGroup]="projectInfoForm">
  <fieldset class="fieldset my-6">
    <!-- We like the fieldset / fieldset-legend styles from daisy, but
        we're certainly not using it as intended. Daisy inputs
        have no other good way of putting the label on top.
        TODO fix properly. -->
    <label class="fieldset-legend text-md">Data directory</label>
    <div class="input w-full">
      <span class="material-icons !text-sm opacity-50">folder</span>
      <input
        formControlName="dataDir"
        type="text"
        class="grow"
        placeholder="/"
        spellcheck="false"
      />
    </div>
    <p class="label">Root of the data directory for the project.</p>
  </fieldset>

  <fieldset class="fieldset my-4">
    <label class="fieldset-legend text-md">Model directory</label>

    <div class="input w-full">
      <span class="material-icons !text-sm opacity-50">folder</span>
      <input
        formControlName="modelDir"
        type="text"
        class="grow"
        placeholder="/"
        spellcheck="false"
      />
    </div>
    <p class="label">Root of the model directory for the project.</p>
  </fieldset>

  <fieldset class="fieldset my-4">
    <label class="fieldset-legend text-md">Camera Views</label>

    <textarea
      class="textarea w-full"
      [rows]="viewsInitialRows()"
      [placeholder]="cameraViewPlaceholder"
      formControlName="views"
      spellcheck="false"
    ></textarea>
    <p class="label">
      Names of views embedded in video filenames.<br />
      Used to group files into sessions.
    </p>
  </fieldset>

  <div class="modal-action">
    @if (!setupMode()) {
      <button class="btn btn-soft btn-secondary" (click)="done.emit(null)">
        Cancel
      </button>
    }
    <button
      class="btn btn-soft btn-primary"
      (click)="onSaveClick()"
      [disabled]="!projectInfoForm.dirty"
    >
      Save
    </button>
  </div>
</form>
