<p>sandbox works!</p>
<div class="relative">
  <div
    #viewport
    class="absolute overflow-hidden top-[75px] left-[75px] h-[500px] w-[500px] bg-red-500"
  >
    <app-keypoint-container
      class="h-[100px] w-[100px] bg-white transform origin-top-left scale-[6] block translate-2"
      [labelerMode]="true"
      [keypointModels]="kp"
      [useCrossHairs]="true"
      [newKpTemplate]="newKp"
    >
      <!--      (keypointUpdated)="handleKeypointAdded($event)" -->
      test
    </app-keypoint-container>
  </div>
</div>
