<div class="flex flex-col h-full">
  <!-- Video content area -->
  <div class="w-full grow overflow-y-auto">
    @if (!sessionKey()) {
      <div class="flex items-center justify-center h-full">
        <p class="text-lg opacity-60">Select a session on the left to view.</p>
      </div>
    } @else {
      <div
        class="flex flex-wrap gap-4 justify-start items-start content-start p-4"
      >
        <!-- `track videosrc` makes the widget component get
     destroyed and recreated if videoSrc changes. Reactively
     changing videoSrc of an existing video does not work unfortunately. -->
        @for (w of widgetModels(); track w.videoSrc) {
          <div class="panel !border-none">
            <div class="px-2 py-1 text-sm flex justify-between">
              <h3>{{ w.id }}</h3>
              <span
                class="btn btn-circle btn-xs material-icons !text-sm"
                (click)="onWidgetCloseClick(w)"
                >close</span
              >
            </div>

            <app-zoomable-content
              [style.height.px]="tileSizePx()"
              [style.width.px]="tileSizePx()"
            >
              <app-video-tile #content [src]="w.videoSrc" class="relative">
                <app-keypoint-container
                  class="absolute top-0 left-0 h-full w-full"
                  [enableEditing]="false"
                  [keypointModels]="w.keypoints()"
                ></app-keypoint-container>
              </app-video-tile>
            </app-zoomable-content>
          </div>
        }
      </div>
    }
  </div>

  <app-video-player-controls></app-video-player-controls>
</div>
