<dialog class="modal" open>
  <div class="modal-box w-5/6 max-w-3xl h-2/3 max-h-150">
    <div class="flex flex-col h-full">
      <button
        class="btn btn-md btn-circle btn-ghost absolute right-4 top-4"
        (click)="handleCloseClick()"
      >
        ✕
      </button>
      <!-- Header -->
      <h3 class="text-xl font-bold text-nowrap mb-4">Model creation</h3>

      <div class="flex gap-2 w-full grow shrink min-h-0">
        <div class="flex flex-col justify-between">
          <ul class="menu min-w-50 steps steps-vertical">
            @let tabs =
              [
                { id: "general", text: "General" },
                { id: "data", text: "Data" },
                { id: "training", text: "Training" },
              ];
            @for (tab of tabs; track tab.id) {
              <li class="step">
                <a
                  [class.menu-active]="selectedTab() === tab.id"
                  tabindex="0"
                  (click)="handleTabClick(tab.id)"
                  (keydown.enter)="handleTabClick(tab.id)"
                  >{{ tab.text }}</a
                >
              </li>
            }
          </ul>
        </div>
        <div class="divider divider-vertical"></div>
        <div class="overflow-y-auto prose">
          @if (selectedTab() === "general") {
            <form class="prose px-4">
              <fieldset class="fieldset my-6">
                <h3 class="text-md mt-0">Model name</h3>
                <p class="m-0!">
                  The name of the model and the directory that will be created
                  for it.
                </p>

                <input
                  type="text"
                  class="input w-full"
                  placeholder="my_model"
                  spellcheck="false"
                />
              </fieldset>
              <fieldset class="fieldset my-2">
                <h3 class="text-md mt-0!">Model type</h3>
                <div class="flex gap-4 items-start">
                  <div class="grow">
                    <p class="m-0!">Select the model type</p>
                    <select class="select" spellcheck="false">
                      <option value="ss">Semi-supervised</option>
                      <option value="ss-ctx">Semi-supervised context</option>
                    </select>
                  </div>
                  <div class="grow">
                    <p class="m-0!">Select the backbone architecture.</p>
                    <select class="select" spellcheck="false">
                      <option value="resnet50">ResNet50</option>
                    </select>
                  </div>
                </div>
              </fieldset>
            </form>
          }
          @if (selectedTab() === "data") {
            <form class="prose px-4">
              <fieldset class="fieldset my-6">
                <h3 class="text-md mt-0">Labeled frames</h3>
                <p class="m-0!">
                  Select the label file for supervised training.
                </p>

                <select class="select" spellcheck="false">
                  <option value="loremipsum">CollectedData_*.csv</option>
                </select>
              </fieldset>
              <fieldset class="fieldset my-2">
                <h3 class="text-md mt-0!">Train / test split</h3>
                <div class="flex gap-4 items-start">
                  <div class="grow">
                    <p class="m-0!">Set the train prob</p>
                    <input type="number" class="input w-full" value="0.2" />
                  </div>
                  <div class="grow">
                    <p class="m-0!">Set the test prob</p>
                    <input type="number" class="input w-full" value="0.2" />
                  </div>
                </div>
              </fieldset>
              <fieldset class="fieldset my-2">
                <h3 class="text-md mt-0!">Unsupervised training</h3>
                <p class="m-0!">
                  Select the directory containing videos to train on.
                </p>
                <select class="select" spellcheck="false">
                  <option value="loremipsum">videos</option>
                </select>
              </fieldset>
            </form>
          }
          @if (selectedTab() === "training") {
            <form class="prose px-4">
              <fieldset class="fieldset my-6">
                <h3 class="text-md mt-0">Duration</h3>
                <p class="m-0!">How many epochs to train for.</p>
                <input type="number" class="input" value="300" />
              </fieldset>
              <fieldset class="fieldset my-2">
                <h3 class="text-md mt-0!">Batch size</h3>
                <div class="flex gap-4 items-start">
                  <div class="grow">
                    <p class="m-0!">Set the labeled batch size</p>
                    <input type="number" class="input w-full" value="6" />
                  </div>
                  <div class="grow">
                    <p class="m-0!">Set the unlabeled batch size</p>
                    <input type="number" class="input w-full" value="6" />
                  </div>
                </div>
              </fieldset>
            </form>
          }
        </div>
      </div>

      <footer class="shrink-0 modal-action justify-between!">
        <div>
          <ul class="menu min-w-50">
            <li>
              <a
                class="opacity-40 hover:opacity-100"
                [class.menu-active]="selectedTab() === 'yaml'"
                tabindex="0"
                (click)="handleTabClick('yaml')"
                (keydown.enter)="handleTabClick('yaml')"
                >Preview YAML</a
              >
            </li>
          </ul>
        </div>
        <div>
          <button class="btn btn-soft btn-primary" (click)="onCreateClick()">
            Create
          </button>
        </div>
      </footer>
    </div>
  </div>
</dialog>
