<dialog class="modal" open>
  <div class="modal-box overflow-x-hidden w-5/6 max-w-3xl h-2/3 max-h-150">
    <div class="flex flex-col h-full">
      <button
        class="btn btn-md btn-circle btn-ghost absolute right-4 top-4"
        (click)="handleCloseClick()"
      >
        ✕
      </button>
      <!-- Header -->
      <h3 class="text-xl font-bold text-nowrap mb-4">Model creation</h3>

      <div class="flex gap-2 w-full grow shrink min-h-0">
        <div class="flex flex-col justify-between">
          <ul class="menu min-w-50 steps steps-vertical">
            @let tabs =
              [
                { id: "general", text: "General" },
                { id: "data", text: "Data" },
                { id: "training", text: "Training" },
              ];
            @for (tab of tabs; track tab.id) {
              <li class="step">
                <a
                  [class.menu-active]="selectedTab() === tab.id"
                  tabindex="0"
                  (click)="handleTabClick(tab.id)"
                  (keydown.enter)="handleTabClick(tab.id)"
                  >{{ tab.text }}</a
                >
              </li>
            }
          </ul>
        </div>
        <div class="divider divider-vertical"></div>
        <div class="overflow-y-auto prose">
          @if (selectedTab() === "yaml") {
            <div class="px-4 flex flex-col max-h-full">
              <h3 class="text-md mt-0">YAML Preview</h3>
              <pre
                class="rounded-box bg-base-200 overflow-auto p-0"
              ><code class="hljs w-max" [appHighlight]="yamlPreviewText()" [language]="'yaml'"></code></pre>
            </div>
          }
          @if (selectedTab() === "general") {
            <form class="prose px-4" [formGroup]="generalForm">
              <fieldset class="fieldset my-2">
                <h3 class="text-md mt-0">Default config file</h3>
                <p>
                  The settings in this form will be applied on top of the LP
                  config file:
                  <code class="whitespace-nowrap"
                    >PROJECT_DIR / configs / default.yaml</code
                  >
                </p>
              </fieldset>
              <fieldset class="fieldset my-2">
                <h3 class="text-md mt-0">Model name</h3>
                <p class="m-0!">
                  The name of the model and the directory that will be created
                  for it.
                </p>

                <input
                  name="modelName"
                  type="text"
                  class="input w-full"
                  placeholder="my_model"
                  spellcheck="false"
                  formControlName="modelName"
                />
                <p
                  class="my-0! text-error invisible"
                  [class.visible!]="
                    generalForm.controls['modelName'].touched &&
                    generalForm.controls['modelName'].invalid
                  "
                >
                  Invalid name
                </p>
              </fieldset>
              <fieldset class="fieldset my-2">
                <h3 class="text-md mt-0!">Model type</h3>

                @if (isMultiviewProject()) {
                  <label class="flex gap-2 cursor-pointer mb-2">
                    <input
                      type="checkbox"
                      class="checkbox"
                      formControlName="useTrueMultiviewModel"
                    />
                    Use true multi-view models (recommended)</label
                  >
                }

                <div class="flex gap-4 items-start">
                  <div class="grow">
                    <p class="m-0!">Select the model type</p>
                    <select
                      class="select"
                      spellcheck="false"
                      formControlName="modelType"
                    >
                      @if (
                        modelTypeOptions().indexOf(
                          generalForm.controls["modelType"].value
                        ) === -1
                      ) {
                        <option
                          [ngValue]="generalForm.controls['modelType'].value"
                        >
                          --- Select a model type ---
                        </option>
                      }
                      @for (type of modelTypeOptions(); track type) {
                        <option [value]="type">
                          {{ type | modelType }}
                        </option>
                      }
                    </select>
                  </div>
                  <div class="grow">
                    <p class="m-0!">Select the backbone architecture.</p>
                    <select
                      class="select"
                      spellcheck="false"
                      formControlName="backbone"
                    >
                      @if (
                        backboneOptions().indexOf(
                          generalForm.controls["backbone"].value
                        ) === -1
                      ) {
                        <option
                          [ngValue]="generalForm.controls['backbone'].value"
                        >
                          --- Select a backbone ---
                        </option>
                      }
                      @for (backbone of backboneOptions(); track backbone) {
                        <option [value]="backbone">{{ backbone }}</option>
                      }
                    </select>
                  </div>
                </div>
                <p>
                  <span class="material-icons text-sm! align-middle"
                    >info_outline</span
                  >
                  The model types and backbone options depend on whether you're
                  using true multi-view models. True multi-view models leverage
                  information from multiple camera views to perform better than
                  models applied independently to all views, but they require
                  more memory.
                </p>
              </fieldset>

              @if (isUnsupervised(generalForm.controls["modelType"].value)) {
                <fieldset class="fieldset my-2" formArrayName="losses">
                  <h3 class="text-md mt-0!">Semi-supervised losses</h3>
                  @for (
                    option of checkboxOptions;
                    track option;
                    let i = $index
                  ) {
                    <label class="flex gap-2 cursor-pointer mb-2">
                      <input
                        type="checkbox"
                        class="checkbox"
                        [formControlName]="i"
                      />
                      {{ checkboxOptionLabels[i] }}</label
                    >
                  }
                </fieldset>
              }
            </form>
          }
          @if (selectedTab() === "data") {
            <form class="prose px-4" [formGroup]="dataForm">
              <fieldset class="fieldset my-6">
                <h3 class="text-md mt-0">Labeled frames</h3>
                <p class="m-0!">
                  Select the label file for supervised training
                </p>

                <select
                  class="select"
                  spellcheck="false"
                  formControlName="labelFile"
                >
                  <option value="CollectedData_*.csv">
                    CollectedData_*.csv
                  </option>
                </select>
              </fieldset>
              <fieldset class="fieldset my-2" formGroupName="trainValSplit">
                <h3 class="text-md mt-0!">Train / val split</h3>
                <p class="m-0!">
                  Data is split accordingly. The values below must sum to 1.
                </p>
                <div class="flex gap-4 items-start">
                  <div class="grow">
                    <p class="m-0!">Train prob</p>
                    <input
                      type="number"
                      class="input w-full"
                      formControlName="trainProb"
                    />
                  </div>
                  <div class="grow">
                    <p class="m-0!">Val prob</p>
                    <input
                      type="number"
                      class="input w-full"
                      formControlName="valProb"
                    />
                  </div>
                </div>
                <p class="m-0!">Random seed</p>
              </fieldset>
              <!-- Random seed outside trainValSplit group -->
              <fieldset class="fieldset my-2">
                <input
                  type="number"
                  step="1"
                  class="input"
                  min="0"
                  formControlName="randomSeed"
                />
              </fieldset>

              @if (isUnsupervised(generalForm.controls["modelType"].value)) {
                <fieldset class="fieldset my-2">
                  <h3 class="text-md mt-0!">Semisupervised training</h3>
                  <p class="m-0!">
                    Select the directory containing videos to train on.
                  </p>
                  <select
                    class="select"
                    spellcheck="false"
                    formControlName="videosDir"
                  >
                    <option value="videos">videos</option>
                  </select>
                </fieldset>
              }
            </form>
          }
          @if (selectedTab() === "training") {
            <form class="prose px-4" [formGroup]="trainingForm">
              <fieldset class="fieldset my-6">
                <h3 class="text-md mt-0">Duration</h3>
                <p class="m-0!">How many epochs to train for.</p>
                <input type="number" class="input" formControlName="epochs" />
                <p
                  class="my-0! text-error invisible"
                  [class.visible!]="
                    trainingForm.controls['epochs'].touched &&
                    trainingForm.controls['epochs'].invalid
                  "
                >
                  {{ trainingForm.controls["epochs"].errors | json }}
                </p>
              </fieldset>
              <fieldset class="fieldset my-2">
                <h3 class="text-md mt-0!">Batch size</h3>
                <div class="flex gap-4 items-start">
                  <div class="grow">
                    <p class="m-0!">Set the labeled batch size</p>
                    <input
                      type="number"
                      class="input w-full"
                      formControlName="labeledBatchSize"
                    />
                  </div>
                  @if (
                    isUnsupervised(generalForm.controls["modelType"].value)
                  ) {
                    <div class="grow">
                      <p class="m-0!">Set the unlabeled batch size</p>
                      <input
                        type="number"
                        class="input w-full"
                        formControlName="unlabeledBatchSize"
                      />
                    </div>
                  }
                </div>
              </fieldset>
            </form>
          }
        </div>
      </div>

      <footer class="shrink-0 modal-action justify-between!">
        <div>
          <ul class="menu min-w-50">
            <li>
              <a
                class="opacity-40 hover:opacity-100"
                [class.menu-active]="selectedTab() === 'yaml'"
                tabindex="0"
                (click)="onPreviewYamlClick()"
                (keydown.enter)="onPreviewYamlClick()"
                >Preview YAML</a
              >
            </li>
          </ul>
        </div>
        <div class="flex gap-2">
          <ng-template #backButtonTemplate>
            <button class="btn btn-soft" (click)="handleBackClick()">
              Back
            </button>
          </ng-template>

          <ng-template #nextButtonTemplate>
            <button
              class="btn btn-soft btn-primary"
              (click)="handleNextClick()"
              [disabled]="
                (selectedTab() === 'general' && !isGeneralFormValid()) ||
                (selectedTab() === 'data' && !isDataFormValid()) ||
                (selectedTab() === 'training' && !isTrainingFormValid())
              "
            >
              Next
            </button>
          </ng-template>

          <ng-template #createButtonTemplate>
            <!-- adding the tooltip causes horizontal scrollbar for some reason.
            Fixed with overflow-x-hidden on the modal-box. -->
            <span
              class="tooltip tooltip-left"
              [attr.data-tip]="formInvalidReason()"
            >
              <button
                class="btn btn-soft btn-primary"
                (click)="onCreateClick()"
                [class.btn-disabled]="!form.valid"
              >
                Create
              </button>
            </span>
          </ng-template>

          @if (setupMode()) {
            @if (selectedTabIndex() > 0 && selectedTab() !== "yaml") {
              <ng-container
                *ngTemplateOutlet="backButtonTemplate"
              ></ng-container>
            }
            <!-- Show Next if not on the last step and not on the special yaml preview tab -->
            @if (
              selectedTabIndex() < tabs.length - 1 && selectedTab() !== "yaml"
            ) {
              <ng-container
                *ngTemplateOutlet="nextButtonTemplate"
              ></ng-container>
            } @else {
              <ng-container
                *ngTemplateOutlet="createButtonTemplate"
              ></ng-container>
            }
          } @else {
            <!-- In update mode (not implemented yet), we might just show Save/Create always -->
            <ng-container
              *ngTemplateOutlet="createButtonTemplate"
            ></ng-container>
          }
        </div>
      </footer>
    </div>
  </div>
</dialog>
