<app-alert-dialog (close)="closeDialog()">
  <app-alert-header>
    Rename Model:
    <code class="text-base-content">{{ modelRelativePath() }}</code>
  </app-alert-header>

  <div class="prose">
    <p>This will rename model in the filesystem.</p>
    <input
      #modelNameInput
      type="text"
      placeholder="Enter new model name"
      class="input input-bordered w-full not-prose"
      [class.input-error]="newModelName.touched && newModelName.invalid"
      [formControl]="newModelName"
    />
  </div>

  <app-alert-footer>
    <button class="btn btn-error" (click)="closeDialog()">Cancel</button>
    <button
      class="btn btn-primary"
      (click)="handleRename()"
      [disabled]="newModelName.invalid"
    >
      Rename model
    </button>
  </app-alert-footer>
</app-alert-dialog>
