<!-- this sets the boundary for dragging to be slightly larger than parent component (video or image)
   to allow dragging the keypoint slightly past the edge to allow moving its center to (0,0) or other corners/edges
<div #dragBoundary class="absolute -inset-1"></div>-->
<style>
  .selected {
    border: 0.5px solid yellow;
  }

  /* Big crosshair (SVG overlay) */
  .big-crosshair {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* don't block keypoint clicks */
  }
  line {
    shape-rendering: crispEdges;
  }
  .big-crosshair g line,
  .big-crosshair-center-circle {
    stroke: rgba(128, 128, 128, 0.6);
    stroke-width: 0.8;
  }
</style>
<div
  #containerDiv
  class="w-full h-full relative overflow-hidden"
  [class.cursor-none]="showCrosshair()"
  (mouseover)="handleMouseOver($event)"
  (mouseout)="handleMouseOut($event)"
  (pointermove)="handlePointerMove($event)"
  (pointerup)="handlePointerUp($event)"
  (pointerdown)="handleKeypointPointerDown($event, null)"
>
  <!-- Pixel grid overlay -->
  @let enablePixelGrid = false;
  @if (enablePixelGrid) {
    <svg class="absolute inset-0 w-full h-full pointer-events-none opacity-10">
      <defs>
        <pattern
          id="pixel-grid"
          width="2"
          height="2"
          patternUnits="userSpaceOnUse"
        >
          <rect x="0" y="0" width="1" height="1" fill="white" />
          <rect x="1" y="0" width="1" height="1" fill="black" />
          <rect x="0" y="1" width="1" height="1" fill="black" />
          <rect x="1" y="1" width="1" height="1" fill="white" />
        </pattern>
      </defs>
      <rect width="100%" height="100%" fill="url(#pixel-grid)" />
    </svg>
  }
  @if (showCrosshair() && crosshairPosition()) {
    @let gap = 4;
    <svg class="big-crosshair" aria-hidden="true">
      <defs>
        <mask id="crosshair-hole">
          <rect width="100%" height="100%" fill="white"></rect>
          <circle
            [attr.cx]="crosshairPosition()!.x"
            [attr.cy]="crosshairPosition()!.y"
            [attr.r]="gap"
            fill="black"
          ></circle>
        </mask>
      </defs>
      <g mask="url(#crosshair-hole)">
        <line
          x1="0"
          [attr.y1]="crosshairPosition()!.y"
          x2="100%"
          [attr.y2]="crosshairPosition()!.y"
        />
        <line
          [attr.x1]="crosshairPosition()!.x"
          y1="0"
          [attr.x2]="crosshairPosition()!.x"
          y2="100%"
        />
      </g>
      <!-- center circle outline -->
      <circle
        class="big-crosshair-center-circle"
        [attr.cx]="crosshairPosition()!.x"
        [attr.cy]="crosshairPosition()!.y"
        [attr.r]="gap - 0.4"
        fill="none"
      />
      <!-- vertical line through circle center -->
      <line
        [attr.x1]="crosshairPosition()!.x"
        [attr.y1]="crosshairPosition()!.y - (gap - 0.8)"
        [attr.x2]="crosshairPosition()!.x"
        [attr.y2]="crosshairPosition()!.y + (gap - 0.8)"
        stroke="white"
        stroke-width=".1"
        stroke-opacity="0.8"
      />
      <line
        [attr.x1]="crosshairPosition()!.x - (gap - 0.8)"
        [attr.y1]="crosshairPosition()!.y"
        [attr.x2]="crosshairPosition()!.x + (gap - 0.8)"
        [attr.y2]="crosshairPosition()!.y"
        stroke="white"
        stroke-width=".1"
        stroke-opacity="0.8"
      />
    </svg>
  }

  @for (keypoint of keypointModels(); track keypoint.id) {
    @let keypointIsSelected = keypoint.id === selectedKeypoint();
    @let hideKeypointBecauseMoving =
      keypointIsSelected && selectedKeypointIsMoving();
    @if (keypoint.position() !== null) {
      <div
        [attr.data-tip]="keypoint.hoverText"
        [class.selected]="keypointIsSelected"
        [style.transform]="getTransform(keypoint)"
        [style.transform-origin]="'0 0'"
        [style.display]="hideKeypointBecauseMoving ? 'none' : 'block'"
        (click)="handleKeypointClick($event, keypoint)"
        (keydown.enter)="handleKeypointClick($event, keypoint)"
        (pointerdown)="handleKeypointPointerDown($event, keypoint)"
        tabindex="0"
        class="
      h-2 w-2
      rounded-full
      shadow-sm/30
      {{ keypoint.colorClass() }}
      absolute top-0 left-0
      tooltip"
      >
        @if (useCrossHairs()) {
          <svg
            class="absolute inset-0 w-full h-full pointer-events-none"
            viewBox="0 0 2 2"
          >
            <!-- Horizontal line -->
            <line
              x1="0"
              y1="1"
              x2="2"
              y2="1"
              stroke="white"
              stroke-width=".1"
              stroke-opacity="0.8"
            />
            <!-- Vertical line -->
            <line
              x1="1"
              y1="0"
              x2="1"
              y2="2"
              stroke="white"
              stroke-width=".1"
              stroke-opacity="0.8"
            />
          </svg>
        }
      </div>
    }
  }
</div>
