<select
  class="select {{ selectSizeClass() }}"
  [disabled]="isDisabled"
  [class.app-empty-select]="labelFileKey() === null"
  [(ngModel)]="labelFileKey"
  (ngModelChange)="handleSelectLabelFile($event)"
>
  @let nullOption = { key: null, views: [] };
  @for (
    labelFile of $any([nullOption]).concat(sessionService.allLabelFiles());
    track labelFile.key
  ) {
    <option
      [ngValue]="labelFile.key"
      [selected]="labelFile.key === labelFileKey()"
    >
      {{ labelFile.key ?? 'None' }}
    </option>
  }
</select>
