<app-dropdown #dropdown class="w-full" [class.opacity-50]="disabled()">
  <app-dropdown-trigger>
    <button
      appDropdownTrigger
      type="button"
      class="select w-full flex justify-between items-center {{
        selectSizeClass()
      }}"
      [disabled]="disabled()"
      [class.app-empty-select]="labelFileKey() === null"
    >
      <span>{{ labelFileKey() ?? "None" }}</span>
    </button>
  </app-dropdown-trigger>
  <app-dropdown-content class="w-72">
    <ul
      class="menu p-2 w-full max-h-60 overflow-y-auto flex-nowrap"
      [class.menu-sm]="selectSizeClass() === 'select-sm'"
      tabindex="0"
    >
      @let nullOption = { key: null, views: [] };
      @for (
        labelFile of $any([nullOption]).concat(sessionService.allLabelFiles());
        track labelFile.key
      ) {
        <li>
          <a
            [class.active]="labelFile.key === labelFileKey()"
            (click)="handleSelectLabelFile(labelFile.key); dropdown.close()"
            class="whitespace-nowrap"
          >
            {{ labelFile.key ?? "None" }}
          </a>
        </li>
      }
    </ul>
  </app-dropdown-content>
</app-dropdown>
